.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
  background-color: blue !important;
  font-size: 18px;
  margin-left: 5px;

}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: blue !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  color: white;
  font-size: 18px;
}
.select2-container--default .select2-search--inline .select2-search__field{
}
